body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.app-name {
    font-size: 1.5rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004b9a;
}

.hidden {
    display: none;
}

.game-area {
    background-color: #228B22;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.game-table {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #006400;
    border: 3px solid #012e01;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dealer-token {
    width: 15px;
    height: 15px;
    background-color: red;
    border: 2px solid #000;
    border-radius: 50%;
}

.opponent-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.opponent.left {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

.opponent.right {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.opponent.top {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.player-status {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.player-info {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#my-cards {
    display: inline-flex;
    gap: 0px;
    justify-content: center;

}

.card {
    display: flex;
    width: 30px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
    user-select: none;
}

.card.card-back {
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.card.card-front {
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-left: -10px;
    cursor: pointer;
    transition: transform 0.1s;
}

.card.card-front:first-child {
    margin-left: 0;
}

.card.selected {
    transform: translateY(-10px);
}

.black {
    color: black;
}

.red {
    color: red;
}