body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

span {
    text-align: center;
}

span.offline {
    color: red;
    text-decoration: line-through;
}

.app-name {
    font-size: 1.5rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004b9a;
}

.hidden {
    display: none;
}

.game-area {
    background-color: #228B22;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.game-table {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #006400;
    border: 3px solid #012e01;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-state {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.player-status {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 1px solid #111;
    background: linear-gradient(90deg, #333, #373737);
    padding: 5px 5px 3px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@keyframes rotate-border {
    0% {
        --angle: 0deg;
    }

    10% {
        --angle: 36deg;
    }

    20% {
        --angle: 72deg;
    }

    30% {
        --angle: 108deg;
    }

    40% {
        --angle: 144deg;
    }

    50% {
        --angle: 180deg;
    }

    60% {
        --angle: 216deg;
    }

    70% {
        --angle: 252deg;
    }

    80% {
        --angle: 288deg;
    }

    90% {
        --angle: 324deg;
    }

    100% {
        --angle: 360deg;
    }
}

.player-status.their-turn {
    border: 2px solid transparent;
    background: linear-gradient(90deg, #333, #373737) padding-box,
        linear-gradient(var(--angle), #ff8c00, #ff00ff) border-box;
    animation: rotate-border 1s linear infinite;
}

.num-points {
    background: linear-gradient(90deg, #555, #444);
    border-radius: 5px;
    padding: 5px;
}

.player-info {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.hand-container {
    display: inline-flex;
    gap: 0px;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hand-container.my-hand {
    margin-top: 8px;
}

.hand-container.hand-to-beat {
    box-shadow: 0 0 10px 2px yellow;
    border-radius: 5px;
}

.card {
    display: flex;
    width: 30px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #000;
    user-select: none;
    background-color: white;
    font-weight: bold;
}

.card.card-back {
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.card.card-mini {
    width: 25px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.card.card-micro {
    width: 17px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.card.card-front {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-left: -10px;
    cursor: pointer;
}

.card.card-front:first-child {
    margin-left: 0;
}

.card.selected {
    transform: translateY(-10px);
}

.black {
    color: black;
}

.red {
    color: red;
}


.pass-move {
    font-weight: bold;
    font-size: 1.2rem;
}

.pass-move.micro {
    font-weight: normal;
    font-size: 0.8rem;
}

.player {
    position: absolute;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.player.left {
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    flex-direction: row;
}

.player.right {
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    flex-direction: row-reverse;
}

.player.top {
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
}

.player.bottom {
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column-reverse;
}

.move-history {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.action-btns {
    position: absolute;
    bottom: 10%;
    right: 2%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.action-btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#pass-btn {
    background-color: #dc3545;
}

#pass-btn:hover {
    background-color: #c82333;
}

#pass-btn:active {
    background-color: #bd2130;
}

#pass-btn:disabled {
    background-color: #7a7a7a;
    cursor: not-allowed;
}

#make-move-btn {
    background-color: #6f42c1;
}

#make-move-btn:hover {
    background-color: #5d3bbf;
}

#make-move-btn:active {
    background-color: #4c2cbf;
}

#make-move-btn:disabled {
    background-color: #7a7a7a;
    cursor: not-allowed;
}

.icon-btn {
    padding: 3px;
    font-size: 0.8rem;
    background-color: transparent;
    font-weight: normal;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.icon-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-btn:active {
    background-color: rgba(0, 0, 0, 0.2);
}